* {
    box-sizing: border-box;
}

.gif-frame > img {
    width: 100%
}

.gif {
    position: relative;
    height: 500px;
    width: 500px;
}

.text {
    position: absolute;
    color: deeppink;
    left: 20px;
    font-size: 30px;
    bottom: 3px;
}